.customization{
    margin-bottom:96px ;
    &__title{
        margin-bottom: 72px;
        h2{
            margin-bottom: 24px;
        }
        p{
            text-align: center;
            width: 100%;
            max-width: 1000px;
            margin: 0 auto;
        }
    }

    &__description{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 59px;
        &__img{
            width: 100%;
            max-width: calc(100% / 2 - 59px );
            background-image: url('./../../../assets/flexible.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 450px;
        }
        &__text{
            width: 100%;
            max-width: calc(100% / 2 - 59px );
            h2{
                text-align: start;
            }
        }
    }
}